<h4 class="display-6 lead mt-5 mb-3">Information</h4>

<div class="accordion" id="InfoAccordion">
  {% for type in site.data.information %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ type.info-type }}" aria-expanded="true" aria-controls="collapse{{ type.info-type }}">
          <h5>{{ type.description }}</h5>
        </button>
      </h2>

      <div id="collapse{{ type.info-type }}" class="accordion-collapse collapse" aria-labelledby="heading{{ type.info-type }}" data-bs-parent="#InfoAccordion">
        <div class="accordion-body">

          {{ type.content }}

        </div>
      </div>

    </div>
  {% endfor %}

</div>