<h4 class="display-6 lead mb-1">Worksheets</h4>
<p>
    The worksheets below are re-generated every day, allowing students to practice new sets of problems each day at the appropriate level.
    Within each type of problem (e.g., addition, subtraction), the difficulty increases as you move down the list of worksheets; within a sub-type of problem, difficulty increases from left to right.
</p>
<div class="accordion" id="accordionExample">
  {% for type in site.data.worksheets %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="ws{{ forloop.index }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ type.problem-type | replace: " ", "" }}" aria-expanded="true" aria-controls="collapse{{ type.problem-type | replace: " ", "" }}">
          <h4>{{ type.problem-type }} Worksheets</h4>
        </button>
      </h2>
      <div id="collapse{{ type.problem-type | replace: " ", "" }}" class="accordion-collapse collapse" aria-labelledby="heading{{ type.problem-type | replace: " ","" }}" data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <ul>
            {% for subtype in type.subtype %}
              <li><h5 class="pt-4 mb-0">{{ subtype.description }}</h5>
                  <p>{% if subtype.form != null and subtype.form != "" %} Format: {{ subtype.form }} {% endif %} </p>
                  {% comment %}<p>{% if subtype.subdescription %} {{ subtype.subdescription }} {% endif %}</p>{% endcomment %}

                <div class="btn-group pt-0">
                    {% for level in subtype.worksheets %}
                        <a href="{{ level.pdf }}" class="text-dark btn btn-outline-secondary" target="_blank"><i class="fa-regular fa-file-pdf fa-lg"></i> {{ level.description }}</a>
                    {% endfor %}
                </div>

              </li>
            {% endfor %}
          </ul>

        </div>
      </div>
    </div>
  {% endfor %}

</div>